dark = #555555
greyLight = #F7F7F7
Blue = #96D3D4
// @import url("http://fonts.googleapis.com/css?family=Ubuntu");

body
	background-color greyLight
	color dark
	font-family Ubuntu
// @media(min-width: 878px)
// 	body
// 		overflow: hidden
@font-face 
	font-family "nexa"
	src url("Nexa Bold.otf")
	font-weight bold
@font-face 
	font-family "nexa"
	src url("Nexa Light.otf")
h1,h2,h3,h4,h5
  	font-family nexa
h4
	font-size 40px
	color dark
	font-family nexa
	font-weight bold

BoxShadow()
	-webkit-box-shadow: arguments
	-moz-box-shadow: arguments
	box-shadow: arguments

.big
	color dark
	padding-top 100px
	font-family nexa
	font-weight bold
	font-size 50px
	padding-top 50px
.mail
	color #D1CDCF
	font-family nexa
	font-weight bold
	font-size 50px

@media(max-width: 780px)
	.big
		font-size: 25px
		padding-top 0px
	.mail
		font-size: 25px
.container
	max-width 1000px
	font-size 16px
.greyWell
	background-color white
	padding 10px
	BoxShadow(1px 1px 1px 1px darken(greyLight,10))
#slink {
    position:absolute;
    top:0;
    background:url("img/s.png") no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}
.side
	position fixed
	height 50px
	width 100%
	background-color white
	color #222222
	z-index 999
	font-family nexa
	BoxShadow(1px 1px 1px 0px darken(greyLight,10))
	
.largePadding
	padding 25px
.btn
	font-size 20px
	color dark
	font-family nexa
	font-weight bold
	&:hover
		color Blue
.projects
	border-left 1px solid darken(greyLight,10)
.project
	border-bottom 1px solid darken(greyLight,5)
	padding-bottom 10px
a:link {color:Blue;}    /* unvisited link */
a:visited {color:Blue;} /* visited link */
a:hover {color:Blue;text-decoration none}   /* mouse over link */
a:active {color:Blue;}  /* selected link */

.block
	margin-bottom 20px

#resume, #code, #music
	padding-top 60px