body {
  background-color: #f7f7f7;
  color: #555;
  font-family: Ubuntu;
}
@font-face {
  font-family: "nexa";
  src: url("Nexa Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "nexa";
  src: url("Nexa Light.otf");
}
h1,
h2,
h3,
h4,
h5,
font-family nexa,
h4 {
  font-size: 40px;
  color: #555;
  font-family: nexa;
  font-weight: bold;
}
.big {
  color: #555;
  padding-top: 100px;
  font-family: nexa;
  font-weight: bold;
  font-size: 50px;
  padding-top: 50px;
}
.mail {
  color: #d1cdcf;
  font-family: nexa;
  font-weight: bold;
  font-size: 50px;
}
@media (max-width: 780px) {
  .big {
    font-size: 25px;
    padding-top: 0px;
  }
  .mail {
    font-size: 25px;
  }
}
.container {
  max-width: 1000px;
  font-size: 16px;
}
.greyWell {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 1px 1px #dedede;
  -moz-box-shadow: 1px 1px 1px 1px #dedede;
  box-shadow: 1px 1px 1px 1px #dedede;
}
#slink {
  position: absolute;
  top: 0;
  background: url("img/s.png") no-repeat;
  width: 60px;
  height: 67px;
  border: 0;
  display: block;
  text-indent: -9999px;
}
.side {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: #222;
  z-index: 999;
  font-family: nexa;
  -webkit-box-shadow: 1px 1px 1px 0px #dedede;
  -moz-box-shadow: 1px 1px 1px 0px #dedede;
  box-shadow: 1px 1px 1px 0px #dedede;
}
.largePadding {
  padding: 25px;
}
.btn {
  font-size: 20px;
  color: #555;
  font-family: nexa;
  font-weight: bold;
}
.btn:hover {
  color: #96d3d4;
}
.projects {
  border-left: 1px solid #dedede;
}
.project {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}
a:link {
  color: #96d3d4;
}
/* unvisited link */
a:visited {
  color: #96d3d4;
}
/* visited link */
a:hover {
  color: #96d3d4;
  text-decoration: none;
}
/* mouse over link */
a:active {
  color: #96d3d4;
}
/* selected link */
.block {
  margin-bottom: 20px;
}
#resume,
#code,
#music {
  padding-top: 60px;
}
