body {
  padding-top: 60px;
  color: #3c3c3c;
  font-size: 14px;
  position: relative;
}
.container {
  max-width: 970px;
}
.navbar-default {
  background-color: #f5f5f5;
  border-bottom: 4px solid #e1e1e1;
  height: 60px;
}
.navbar-default .navbar-brand img {
  height: 30px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #f5f5f5;
  color: #378c9e;
  margin-top: 2px;
}
.navbar-default .navbar-nav > li > a {
  background-color: #f5f5f5;
  color: #3c3c3c;
  margin-top: 2px;
  font-size: 1.2em;
}
.portfolio {
  background: #47b5cc; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #47b5cc 0%, #378c9e 76%, #378c9e 76%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #47b5cc), color-stop(76%, #378c9e), color-stop(76%, #378c9e)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #47b5cc 0%, #378c9e 76%, #378c9e 76%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #47b5cc 0%, #378c9e 76%, #378c9e 76%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #47b5cc 0%, #378c9e 76%, #378c9e 76%); /* IE10+ */
  background: radial-gradient(ellipse at center, #47b5cc 0%, #378c9e 76%, #378c9e 76%); /* W3C */
  border-top: 3px solid #296875;
  border-bottom: 15px solid #79b1c4;
  color: #f5f5f5;
  padding-bottom: 30px;
}
.portfolio .item {
  height: 164px;
  background-color: #fff;
  margin-bottom: 10px;
}
.portfolio .item img {
  width: 100%;
}
.portfolio .item:hover {
  box-shadow: 0px 3px 4px #0f272d;
}
.portfolio .item-next {
  color: #3c3c3c;
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
  line-height: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #0f272d;
}
.portfolio .item-next small {
  margin-top: 20px;
  font-size: 14px;
}
.portfolio .item-next:hover {
  box-shadow: 0px 1px 6px #0f272d;
}
.portfolio .int {
  background-color: #3b1e5b;
}
.portfolio .int img {
  height: 164px;
}
.head {
  border: 1px solid #e1e1e1;
  padding: 2px;
  box-shadow: 0px 0px 2px #a2a2a2;
}
.top {
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}
.top h3 {
  padding-top: 25px;
}
.cv-item {
  padding-bottom: 10px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c8c8c8;
  margin: 1em 0;
  padding: 0;
}
.form-control {
  border-radius: 1px;
}
.btn-primary {
  background-color: #79b1c4;
  color: #fff;
  border: 0px;
  border-bottom: 3px solid #569cb4;
}
.btn-primary:hover {
  background-color: #8bbbcc;
  border-bottom: 3px solid #4a8fa7;
}
.contact {
  background-color: #f5f5f5;
  color: #3c3c3c;
  margin-top: 30px;
  padding-bottom: 40px;
}
.contact .data {
  text-align: center;
  font-size: 1.4em;
}
.bubble {
  position: relative;
  width: 100%;
  padding: 15px;
  padding-top: 1px;
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 15px;
  color: #3c3c3c;
  padding-bottom: 15px;
  box-shadow: 0px 3px 4px #0f272d;
}
.bubble .closer {
  position: absolute;
  right: 14px;
  top: 10px;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  border-width: 0 18px 20px;
}
.bubble-left:after {
  left: 140px;
}
.bubble-middle:after {
  left: 300px;
}
.bubble-right:after {
  right: 130px;
}
.progress-bar {
  background-color: #378c9e;
}
.progress {
  border-radius: 1px;
}
a {
  color: #378c9e;
}
a:hover {
  color: #1d4952;
  text-decoration: none;
}
.form-control:focus {
  border-color: #378c9e;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 3px #49abbf;
  outline: 0 none;
}
.alert {
  border-radius: 1px;
  padding: 8px;
  padding-left: 10px;
}
